
<div class="container justify-content-center bg-gray-100 shadow-lg rounded-lg">
<h3>Users details</h3>
<div >
  <div class="card">
    <label> <b> Fullname: </b> {{users.fullname}}</label>
  </div>
  <div class="card">
    <label> <b> Profession: </b> {{users.profession}}</label>
  </div>
  <div class="card">
    <label> <b> Birth date: </b> {{users.birthDate}}</label>
  </div>
  <div class="card">
    <label> <b> Address: </b> {{users.address}}</label>
  </div>
  <div class="card">
    <label> <b> City: </b> {{users.city}}</label>
  </div>
  <div class="card">
    <label> <b> Phone number: </b> {{users.phoneNumber}}</label>
  </div>
  <div class="card">
    <label> <b> Membership number: </b> {{users.membershipNumber}}</label>
  </div>
  <button class="btn" routerLink="/users">Back</button>

</div>
</div>
