section{
    min-height: 90vh;
    background-size: cover;
    background-position: center;
}

form{
    width: 40%;
    background-color: beige;
    padding: 40px 80px;
    border-radius: 0px 150px;
    box-shadow: 1px 1px beige;
    
  
}


mat-form-field {
    width: 80%;
}
a{
    text-decoration:underline;
    color: #550019;
}
